pefile
pyelftools
macho_parser
androguard
PyPDF2
capstone
ghidra_bridge
uncompyle6
esprima
requests
beautifulsoup4
structlog
pytest
flask
flask-socketio
flask-jwt-extended
boto3
google-cloud-storage
volatility3
unp
tensorflow
pyspark
web3
virustotal-python
pymisp
cryptography
pyyaml
qiskit
webrtcvad
saml2
openidconnect